#game {
  width: 1080px;
  height: 720px;
}
body {
background-image: url(images/background.png);
background-size: contain;
background-repeat: no-repeat;
background-position: top left;
background-attachment: fixed;
}
